/*
To customize the look and feel of Ionic, you can override the variables
in ionic's _variables.scss file.

For example, you might change some of the default colors:

$light:                           #fff !default;
$stable:                          #f8f8f8 !default;
$positive:                        #387ef5 !default;
$calm:                            #11c1f3 !default;
$balanced:                        #33cd5f !default;
$energized:                       #ffc900 !default;
$assertive:                       #ef473a !default;
$royal:                           #886aea !default;
$dark:                            #444 !default;
*/

// The path for our ionicons font files, relative to the built CSS in www/css
$ionicons-font-path: "../lib/ionic/fonts" !default;

// Include all of Ionic
@import "../www/lib/ionic/scss/ionic";

// App Main colors
$ford-main-color:                 rgb(0,52,120) !default;
$ford-text-color:                 rgb(255,255,255) !default;
$ford-slate:                      rgb(66,89,104) !default;
$ford-slate-screen:               rgb(145,163,176) !default;
$ford-75-percent:                 rgb(99,100,102) !default;

// App Secondary Colors
$ford-confirmed:               rgb(153,204,51) !default;
$ford-notify:                  rgb(0,169,244) !default;
$ford-warm-grey:               rgb(153,153,153) !default;
$ford-tango:                   rgb(255,102,0) !default;

// App Mixins
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $top $left $blur $color;
    -moz-box-shadow:inset $top $left $blur $color;
    box-shadow:inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

body {
  cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.picture {
  max-width: 100%;
  margin: 0 auto;
  display: block;
}

#map {
  width: 100%;
  height: 100%;
}

// App Intro

.slider {
  height: 100%;
}
.slider-slide {
  padding-top: 80px;
  color: #000;
  background-color: #fff;
  text-align: center;

  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;
}
#list ol {
  margin-top: 30px;
}
#list ol li {
  text-align: left;
  list-style: decimal;
  margin: 10px 0px;
}

// App Login
.bar-ford-main {
  background-color: $ford-main-color;
  color: $ford-text-color;
  box-shadow: 1px 0 2px $ford-text-color;
}

// App Header
.bar.bar-ford-main {
  background-color: $ford-main-color;
  color: $ford-text-color;
  box-shadow: 1px 0 2px $ford-text-color;
  .title{
    color: inherit;
  }
}

// App Buttons
.button.button-ford-positive {
  background-color: $ford-main-color;
  color: $ford-text-color;
}

// App Footer Buttons
.bar.ford-bar {
  padding: 0;
  .buttons.ford-buttons {
    width: 100%;
    background-color: $ford-text-color;
    box-shadow: 1px 0 2px $ford-slate-screen;
    .ford-button-full{
      width: 100%;
      display: inline-block;
      color: $ford-main-color;
    }
  }
}

// App Error Messages
.error-container {
  margin: 0;

  &:last-child {
    margin: 0;
  }
}

.error {
  padding: 10px 16px;
  font-family: "Arial Black", Gadget, sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  color: #555;
  vertical-align: middle;
}

.error i {
  font-size: 24px;
  color: #B83E2C;
  vertical-align: middle;
}

.last-error-container > .error {
  padding: 10px 16px 0;
}

.has-errors {
  transition:1s linear all;
  border-bottom: 3px solid #B83E2C;
}

.no-errors {
  border-bottom: 3px solid green;
}

// App outer messages
.my-messages {
  transition:1s linear all;
}

//  App inner messages
.some-message {
  transition: 1s linear all;
}

// App Top Content
.top-content {
  height: 200px;
  top: 44px;
  width: auto;
}

.has-top-content {
  top: 250px !important;
}


